* {
  font-family: 'Patrick Hand', cursive;
}
.navHome {
  text-align: center;
}
.listHome {
  height: 90%;
}
.green {
  background-color: #b9d895;
}
.yellow {
  background-color: #f7f59b;
}
.red {
  background-color: #f4a1a2;
}